.sidebar {
  width: 8.5vw;
  background-color: var(--color-limeish);
  padding: 2rem 0.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.link {
  width: 100%;
  height: 100%;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.list {
  width: 100%;
  align-items: center;
  place-items: center;
  justify-items: center;
  display: flex;
  margin-bottom: var(--sp-6);
}
