.sidebar {
  width: 130px;
  background-color: var(--color-limeish);
  padding: 4rem 0.5rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarProfile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.link {
  width: 100%;
  height: 100%;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.list {
  width: 100%;
  align-items: center;
  place-items: center;
  justify-items: center;
  display: flex;
  margin-bottom: var(--sp-12);
  margin-top: var(--sp-12);
}

li p {
  font-size: var(--label);
}
